stages: # List of stages for jobs, and their order of execution
    - test

variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: "20"
    COMPOSER_ALLOW_SUPERUSER : "1"

before_script:
    # Install composer dependencies
    - apt-get update && apt-get install wget git libzip-dev zip -y
    - docker-php-ext-install zip
    - wget https://composer.github.io/installer.sig -O - -q | tr -d '\n' > installer.sig
    - php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
    - php -r "if (hash_file('SHA384', 'composer-setup.php') === file_get_contents('installer.sig')) { echo 'Installer verified'; } else { echo 'Installer corrupt'; unlink('composer-setup.php'); } echo PHP_EOL;"
    - php composer-setup.php
    - php -r "unlink('composer-setup.php'); unlink('installer.sig');"

php8.1:
    image: php:8.1
    stage: test
    script:
        - php composer.phar install --prefer-dist
        - php composer.phar cs-check
        - php composer.phar rector-check
        - php composer.phar phpstan
        - vendor/bin/phpunit --configuration phpunit.xml.dist

php8.2:
    image: php:8.2
    stage: test
    script:
        - php composer.phar install --prefer-dist
        - php composer.phar cs-check
        - php composer.phar rector-check
        - php composer.phar phpstan
        - vendor/bin/phpunit --configuration phpunit.xml.dist
