include:
    - remote: https://gitlab.com/renovate-bot/renovate-runner/-/raw/v19.60.1/templates/renovate.gitlab-ci.yml

stages: # List of stages for jobs, and their order of execution
    - test
    - composer

variables:
    GIT_STRATEGY: fetch
    GIT_DEPTH: "20"
    COMPOSER_ALLOW_SUPERUSER: "1"
    PHP_CS_FIXER_IGNORE_ENV: "1"

.test:
    rules:
        -   if: '$CI_PIPELINE_SOURCE != "schedule"'
    before_script:
        # Install composer dependencies
        - apt-get update && apt-get install wget git libzip-dev zip -y
        - docker-php-ext-install zip
        - wget https://composer.github.io/installer.sig -O - -q | tr -d '\n' > installer.sig
        - php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
        - php -r "if (hash_file('SHA384', 'composer-setup.php') === file_get_contents('installer.sig')) { echo 'Installer verified'; } else { echo 'Installer corrupt'; unlink('composer-setup.php'); } echo PHP_EOL;"
        - php composer-setup.php
        - php -r "unlink('composer-setup.php'); unlink('installer.sig');"
        - php composer.phar install --prefer-dist

renovate:
    stage: composer
    rules:
        - if: '$CI_PIPELINE_SOURCE == "schedule"'
        - if: '$CI_PIPELINE_SOURCE == "push"'

checks:
    extends: .test
    parallel:
        matrix:
            -   PHP_VERSION: [ '8.3', '8.4' ]
    image: php:$PHP_VERSION
    stage: test
    script:
        - php composer.phar cs-check
        - php composer.phar rector-check
        - php composer.phar phpstan

tests:
    extends: .test
    parallel:
        matrix:
            -   PHP_VERSION: [ '8.3', '8.4' ]
    image: php:$PHP_VERSION
    stage: test
    script:
        - vendor/bin/phpunit --configuration phpunit.xml.dist


