includes:
	- phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src/
        - tests/
    treatPhpDocTypesAsCertain: true
    errorFormat: ticketswap
    editorUrl: "phpstorm://open?file=%%file%%&line=%%line%%"
