includes:
	- phpstan-baseline.neon

parameters:
    phpVersion: 80300
    level: 8
    paths:
        - src/
        - tests/
    errorFormat: ticketswap
    editorUrl: "phpstorm://open?file=%%file%%&line=%%line%%"
    ignoreErrors:
    		-
    		    identifier: typeCoverage.constantTypeCoverage
