name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    name: PHP ${{ matrix.php-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.1', '8.2', '8.3', '8.4', '8.5']
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          extensions: mbstring, xml, ctype, iconv, intl, pdo, pdo_sqlite, sqlite3
          coverage: none

      - name: Install dependencies
        run: |
          composer install --prefer-dist --no-progress --no-suggest

      - name: Run Rector
        run: vendor/bin/rector process --dry-run

      - name: Run php-cs-fixer
        run: vendor/bin/php-cs-fixer fix --dry-run --diff

      - name: Run phpstan
        run: vendor/bin/phpstan analyse --memory-limit=2G --configuration=phpstan${{ matrix.php-version }}.neon

      - name: Run tests
        run: vendor/bin/phpunit

  release:
    name: Create Release
    if: startsWith(github.ref, 'refs/tags/')
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
